button.btn {
	background-color: #2644B2;
	color: white;
}

div.title {
	margin-top: 2%;
}

h1 {
	color: #d8ac29; 
}

div.container {
	margin-top: 2%;
}

#p1 {
	text-align: center;
}

div.card {
	margin-top: 5%;
	height: 100%;
	width: 100%;
    align-items: center;
}

#voltar {
    margin-top: 5%;
    float: right;
}