/*
  Grupo: <gerencia> 
  Data de modificação: <22>/<10>/<2017>
  Autora: <Aline><Pinto>
  Objetivo da modificação: {O id rodape define a altura e posição do rodapé com destaque para o linear-gradient
  que torna a cor de fundo degradê azul. P e h6 definem que a cor da letra será branca e seu tamanho. centralizado,
  como o próprio nome diz, deixa o texto alinhado no centro.}
*/

h6
{
 font-size: 12px;
 color: #ffffff;
}

p
{
 font-size: 11px;
 color: #ffffff;
}

#rodape 
{
 background: 
  linear-gradient(
    to bottom,
    rgba(40, 80, 40, 0.25), 
    rgba(0, 0, 20, 0.8));
 background-color: #4F75FF;
 padding-top: 15px;
 padding-bottom: 5px;
 bottom: 0;
 position: absolute;
 width: 100%;
}


.centralizado
{
 text-align: center;
}
