/AMP/ManuntencaoDeProfessores/nbproject/private/
/Gerencia/Login - Java/EducatioTPFinal/build/
/Gerencia/Login - Java/EducatioTPFinal/nbproject/private/
/Gerencia/Login - Java/EducatioTPFinal/dist/
/AMP/Java manutencao de prof dia 23/nbproject/private/
/AMP/AMP-Java-Front-end/interfacePrincipal/build/
/AMP/AMP-Java-Front-end/interfacePrincipal/dist/