/AMP/ManuntencaoDeProfessores/nbproject/private/
/Gerencia/Login - Java/EducatioTPFinal/build/
/Gerencia/Login - Java/EducatioTPFinal/nbproject/private/
/Gerencia/Login - Java/EducatioTPFinal/dist/
/AMP/Java manutencao de prof dia 23/nbproject/private/
/AMP/AMP-Java-Front-end/interfacePrincipal/build/
/AMP/AMP-Java-Front-end/interfacePrincipal/dist/
/AMP/AMP-Java-ManutencaoDeProfessores/build/
/AMP/AMP-Java-ManutencaoDeProfessores/dist/
/AMP/AMP-Java-ObrasDoAcervo/dist/
/PHJL/Java/Novos/ManutencaoDiario/nbproject/private/
/JHJ/manutencao-campi-java/dist/
/PHJL/Java/Novos/ManutencaoDiario/build/
/PHJL/Java/Antigos/Aluno/dist/
/FAGE/FAGE - Descarte (Java)/nbproject/private/
/FAGE/FAGE - Manutenção Diários - Atividade (JAVA)/build/
/JHJ/manutencao-campi-java/build/
/PHJL/Java/Novos/ManutencaoAluno/build/
/PHJL/Java/Novos/ManutencaoAluno/dist/
/CJF/Java/SelecaoNotas/build/
/PHJL/Java/Aluno/build/
/FAGE/FAGE - Descarte (Java)/dist/
/FAGE/FAGE - Descarte (Java)/build/
/PHJL/Java/Aluno/nbproject/private/
/AMP/AMP-Java-Front-end/interfacePrincipal/nbproject/private/
/PHJL/Java/Aluno/dist/
/PHJL/Java/Novos/ManutencaoDiario/dist/
/BancoDeDados/GerenciaVerificacaoIntegridadeJava/VerificacaoIntegridade/nbproject/private/
/CJF/Java/EmprestimoData/EmprestimoData/build/
/PHJL/Java/Antigos/Aluno/nbproject/private/
/PHJL/Java/Antigos/Aluno/build/
/JHJ/manutencao-campi-java/nbproject/private/
/BancoDeDados/GerenciaVerificacaoIntegridadeJava/VerificacaoIntegridade/build/
/PHJL/Java/Novos/ManutencaoAluno/nbproject/private/
/AMP/AMP-Java-ManutencaoDeProfessores/nbproject/private/
/CJF/Java/SelecaoConteudos/nbproject/private/
/FAGE/FAGE - Manutenção Diários - Atividade (JAVA)/nbproject/private/
/CJF/Java/ManutencaoEtapas/build/
/CJF/Java/EmprestimoData/EmprestimoData/nbproject/private/
/CJF/Java/SelecaoConteudos/build/
/CJF/Java/SelecaoNotas/nbproject/private/
/AMP/AMP-Java-ObrasDoAcervo/nbproject/private/
/CJF/Java/ReservasDataGeral/ReservasDataGeral/build/
/CJF/Java/ReservasDataGeral/ReservasDataGeral/nbproject/private/
/BLT/BLT-Main-Disciplinas/BLT-Java-Disciplinas/build/