div.card {
	background-color: #6989FF;
	width: 30%;	
	color: white;
}
div.title{
	width: 100%;
	text-align: center;
}

div.row {
	width: 100%;
	margin-right: 1%;
}

div.col {
	width: 50%;
	margin-left: 4%;
	margin-top: 1%;
	margin-bottom: 1%;
	border-left: 10px solid;
	border-color: #2644B2;
	background-color: #4F75FF;
}