div.form-group {
	width: 46%;
	margin-left: 2%;
	margin-right: 2%;
	color: white;
}



#Departamento {
	width: 100%;
	margin-left: 0.25%;
}

button.btn {
	float: right;
	background-color: #2644B2;
	color: white;
	margin-bottom: 2%;
}

.container {
	float: left;
	background-color: #4F75FF;
	width: 30%;
}