.btn-info {
    background-color: #162e87;
    border-color: #162e87;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
 }

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .show > .btn-info.dropdown-toggle {
    background-color: #11277a;
    color: #FFFFFF;
    border-color: #11277a;
}

.fonteTexto{
   font-family: 'Inconsolata', monospace;
   font-size: 16px;
}

.text-center{
   font-family: 'Abel', sans-serif;
   color: #d8ac29;
}
