button.btn {
	/*background-color: #2644B2;*/
	background-color: black;
	color: white;
}

div.title {
	margin-top: 2%;
}

h1 {
	color: #d8ac29; 
}

div.container {
	margin-top: 2%;
}

#p1 {
	text-align: center;
}

#voltar {
    margin-top: 5%;
    float: right;
}