/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/10/2017, 10:36:39
    Author     : Eduardo Cotta
*/

.button{
    -fx-background-color: #6989FF;
    -fx-text-fill: white;
    -fx-font-size: 25px;
}
