/*
  Grupo: <gerencia> 
  Data de modificação: <03>/<10>/<2000>
  Autora: <Aline><Pinto>
  Objetivo da modificação: {A classe container define a altura e posição do rodapé com destaque para o linear-gradient
  que torna a cor de fundo degradê azul. Ela é uma classe nativa que foi sobrescrita.
  A classe footertext define que a cor da letra será branca}
*/

.footertext 
{
  color: #ffffff;
}

.container 
{
  position: relative;
/*
  Quando a página houver conteúdo deixar relative
  position: relative;
*/
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  background: 
  linear-gradient(
    to bottom,
    rgba(40, 80, 40, 0.25), 
    rgba(0, 0, 20, 0.8));
  background-color: #4F75FF;
}

