<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^i/(tekzoom)(/.*)?$ http://muut.com/i/$1$2 [P]
RewriteRule ^m/(.*)$ http://muut.com/m/$1 [P]
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

