img
{
  margin-top: -5px;
  width: 100px; 
  height: 31px;
}

li
{
  text-align: center;
  border-left: 1px black;
}

.profile
{
	border: 1px solid;
  border-radius: 25px;
	width: 22px; 
  height: 22px;
}

.navbar-default 
{
  background-color: #2644B2;
  border-color: #5b5b5b;
}

.navbar-default .navbar-nav  li
{
  border-left: 1px solid #dfd8ff;
}

.navbar-default .navbar-nav  li  a 
{
  color: white;
}

.navbar-default .navbar-nav  li  a:hover,
.navbar-default .navbar-nav  li  a:focus 
{
  color: white;
  background-color: #2b4abc;
}

.dropdown-menu 
{
  background-color: #2644B2;
}