  <style type="text/css">
      .centralizado{
          text-align: center;
      }
      .footer{
          padding-top: 15px;
      }
      .navbar{
          background-color: black;
      }
      .logo{
          margin-top: -5px;
          height: 31px;
          width: 30px;
      }
      .perfil{
          border: 1px solid;
          border-radius: 25px;
          width: 22px; 
          height: 22px;
      }
      .navbar-expand-md{
          background-color: #0a0744;
      }
     
      .navbar .navbar-toggler .navbar-toggler-bar {
          background: white;
      }
      .navbar .navbar-nav .nav-item .nav-link {
          color: white;
      }

      .footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
      }
  </style>  
